.dnone {
    display: none;
}
.roll{
    font-size:x-large;

}
.dice{
    border:4px solid black;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-decoration: none!important;
}

.select{
    border:4px solid whitesmoke;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.select .dot {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}
.dot{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(41, 40, 40);
}

/* 1 */
.firstFace {
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstFace .dot {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
}
/* 2 */
.secondFace{
    display: flex;
    justify-content: space-between;

}
.secondFace .dot:nth-of-type(2) {
    align-self: flex-end;
}

/* 3 */
.thirdFace {
    display: flex;
    justify-content: space-between;

}
.thirdFace .dot:nth-of-type(2) {
    align-self: center;
}
.thirdFace .dot:nth-of-type(3) {
    align-self: flex-end;
}
/* 4 */
.fourthFace {
    display: flex;
    justify-content: space-around;

}
.fourthFace .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fourthFace .dot {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
}
/* 5 */
.fifthFace {
    display: flex;
    justify-content: space-around;
}
.fifthFace .dot:nth-of-type(1) {
    align-self: center;
}
.fifthFace .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 6 */
.sixthFace {
    display: flex;
    justify-content: space-around;
}

.sixthFace .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}